{% if "include_shell" == option_key or "include" == option_key %}
{{ option_key }} {{ option_value }}
{% else %}
{% set module_key = option_value.items() | first | first %}
{% set module_value = option_value.items() | first | last %}
{{ option_key }}.{{ module_key }} = {% include "lighttpd-value.j2" %}
{% endif %}
